/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer 
*/


/* 1. ---General Styles--- */

#desktop-outline {
    outline: 20px solid #333;
    max-width: 1280px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}

body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

input,
textarea {
    display: block;
    margin: 0;
    padding: 0;
}

.cr-red {
    color: #9a2018;
}


/* 2. ---Main Nav--- */

#main-nav label img {
    /* This is a decendant selector  */
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    transition: all .5s ease;
    cursor: pointer;
}

#main-nav input,
#burger-con {
    display: none;
}

#main-nav input:checked~#burger-con {
    /* ~ sibling selector    */
    display: block;
}

#main-nav input:checked~label img {
    transform: rotate(90deg);
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
}

#main-nav ul li {
    border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
    border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
    margin-bottom: 40px;
}

/* End of Main Nav */

#logo {
    margin-bottom: 20px;
    max-width: 382px;
}


/* 3. ---Main Hero Images--- */

#hero {
    background: url(../images/5_star.jpg) no-repeat;
    height: 200px;
}

/* Images for Rooms Page */

#hero-rooms {
    background: url(../images/room_styles.jpg) no-repeat;
    height: 200px;
}

#rooms-chateaus {
    background: url(../images/chateaus.jpg) no-repeat;
    height: 200px;
}

#rooms-villas {
    background: url(../images/villas.jpg) no-repeat;
    height: 200px;
}

#rooms-masters {
    background: url(../images/masters.jpg) no-repeat;
    height: 200px;
}

#rooms-chalets {
    background: url(../images/chalets.jpg) no-repeat;
    height: 200px;
}

#rooms-exotics {
    background: url(../images/exotics.jpg) no-repeat;
    height: 200px;
}

#rooms-juniors {
    background: url(../images/juniors.jpg) no-repeat;
    height: 200px;
}


/* Images for Rooms Desktop Page */

#hero-rooms-desktop {
    background: url(../images/room_styles_desktop.jpg) no-repeat;
    height: 450px;
}

#rooms-chateaus-desktop {
    background: url(../images/chateaus_desktop.jpg) no-repeat;
    height: 450px;
}

#rooms-villas-desktop {
    background: url(../images/villa_desktop.jpg) no-repeat;
    height: 450px;
}

#rooms-masters-desktop {
    background: url(../images/masters_desktop.jpg) no-repeat;
    height: 450px;
}

#rooms-chalets-desktop {
    background: url(../images/chalets_desktop.jpg) no-repeat;
    height: 450px;
}

#rooms-exotics-desktop {
    background: url(../images/exotics_desktop.jpg) no-repeat;
    height: 450px;
}

#rooms-juniors-desktop {
    background: url(../images/juniors_desktop.jpg) no-repeat;
    height: 450px;
}

#contact-hero-con-desktop {
    background: url(../images/contact_desktop.jpg) no-repeat;
    height: 450px;
}


/* Images for Spa Services Page */

#hero-spa {
    background: url(../images/spa_services.jpg) no-repeat;
    height: 200px;
}

#spa-massage-therapy {
    background: url(../images/massage_therapy.jpg) no-repeat;
    height: 200px;
}

#spa-hot-stones {
    background: url(../images/hot_stones.jpg) no-repeat;
    height: 200px;
}

#spa-hand-foot {
    background: url(../images/hand_foot.jpg) no-repeat;
    height: 200px;
}

#spa-scrubs {
    background: url(../images/scrubs.jpg) no-repeat;
    height: 200px;
}

#spa-waxing {
    background: url(../images/waxing.jpg) no-repeat;
    height: 200px;
}

#spa-features {
    background: url(../images/spa_features.jpg) no-repeat;
    height: 200px;
}

#spa-policies {
    background: url(../images/spa_policies.jpg) no-repeat;
    height: 200px;
}


/* Images for Reservations Page */

#hero-reservations {
    background: url(../images/reservations.jpg) no-repeat;
    height: 200px;
}

#booking-info {
    background: url(../images/booking_info.jpg) no-repeat;
    height: 200px;
}

#other-info {
    background: url(../images/other_info.jpg) no-repeat;
    height: 200px;
}



.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 0.3s ease;
    cursor: pointer;
}

.book-now:hover {
    background-color: rgb(196, 28, 28);
}

#book-now-hero {
    height: 67px;
}

.read-more-button {
    height: 40px;
    width: 200px;
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 70px;
    justify-self: center;
}

#hero-heading-box {
    align-self: end;
}

.heading-box {
    align-self: end;
}

.hero-img-h2,
.hero-img-h3 {
    background: #fff;
    width: fit-content;
    padding: 10px 15px;
    font-size: 14px;
}

.hero-img-h2-desktop,
.hero-img-h3-desktop {
    background: #fff;
    width: 445px;
    height: 100px;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 30px;
}

.hero-img-h2 span,
.hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
}

.hero-img-h2-desktop span,
.hero-img-h3-desktop span {
    color: #9a2018;
    font-size: 20px;
}

.line-separator {
    width: fit-content;
    margin-top: -3px;
    margin-left: 15px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;
}

.line-separator-heading {
    margin-top: -3px;
    margin-left: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;
}

#hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}

/* 4. ---Main Hero Image Contact--- */

.fas {
    font-size: 42px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
}

.fa-mobile-alt {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 20px;
}

.fa-map-marker-alt {
    margin-right: 10px;
}

#contact {
    font-size: 11px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* 5. ---Why Choose Us--- */


#why-choose-us-nav {
    padding-top: 20px;
}

#why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#why-choose-us-nav ul li {
    margin-bottom: 15px;
}

#why-choose-us-nav ul li a {
    color: inherit;
    padding: 5px;
}

#why-choose-us-nav ul li a.selected {
    /* signposting - red line, that tells us where we are in the page */
    border-left: #9a2018 solid 5px;
}

#why-choose-us-hero-con {
    background: url(../images/why_choose_us2.jpg) no-repeat;
    height: 195px;
}

#why-choose-us-heading-box {
    align-self: end;
}

.why-choose-us-image {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}

.why-choose-us-image-con h2 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.why-choose-us-image-con p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
}

.why-choose-us-image-con a {
    color: #707070;
    font-size: 12px;
}

#why-choose-us-bottom-nav {
    background-color: #CF6666;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
}

#why-choose-us-bottom-nav ol li {
    display: inline;
}

#why-choose-us-bottom-nav ol li a {
    padding: 20px;
    color: #fff;
}


/* 6. ---About & FAQ--- */

#about-hero-con {
    background: url(../images/lake.jpg) no-repeat;
    height: 195px;
}

#about-hero-heading-box {
    align-self: end;
}

#about-us-text {
    padding-bottom: 60px;
}

#about-us-text p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 22px;
}

#about-us-text-column2 {
    font-style: italic;
}

#faq-con {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
}

#faq-con h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#faq-con h2 span {
    color: #9a2018;
    font-size: 16px;
}

.faq-items {
    margin-bottom: 16px;
    /* padding-left: 30px; */
}

.faq-items-rooms {
    margin-bottom: 16px;
}

.faq-items h3 {
    background: #e8e7e7;
    padding: 16px;
    font-size: 16px;
}

@media (min-width: 1024px) {
    .faq-items-container {
        display: flex;
        /* Ensures lists are side-by-side */
        gap: 50px;
        /* Adds spacing between the two lists */
        width: 100%;
        /* Ensures full width usage */
    }

    .faq-items {
        flex: 1;
        /* Each list takes equal space */
    }

    .faq-items ul li {
        line-height: 1.8;
        /* Increase spacing between lines for readability */
        padding-bottom: 10px;
        /* Optional: Adds extra space under each list item */
    }
}

.faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.faq-items-rooms ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
}

.faq-items-rooms li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
}

.faq-items li:last-of-type {
    border-bottom: none;
}

.faq-items-rooms li:last-of-type {
    border-bottom: none;
    margin-bottom: 70px;
}

.faq-items-drop li:last-of-type {
    border-bottom: 1px solid #9a2018;
}

.faq-items a {
    color: inherit;
    font-size: 13px;
}

.faq-items-rooms a {
    color: inherit;
}

#faq-text-con {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.line-space {
    padding-bottom: 20px;
}

.line-spaces {
    padding-bottom: 70px;
}

.line-spacess {
    padding-bottom: 50px;
}

/* .padding-left {
    padding-left: 30px;
} */

.checkbox-padding {
    padding-left: 90px;
}






details summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::before {
    content: url(../images/dropdown_arrow.svg);
    transform: rotate(-90deg);
    margin-right: 0.5em;
    font-size: 2rem;
    display: inline-block;
    transition: transform 0.3s ease;
}

details[open] summary::before {
    transform: rotate(0deg);
    content: url(../images/dropdown_arrow.svg);
}

details summary h3 {
    margin: 0;
    flex-grow: 1;
}











/* 7. ---Contact--- */

#contact-hero-con {
    background: url(../images/contact.jpg) no-repeat;
    height: 195px;
}

#contact-hero-heading-box {
    align-self: end;
}

#contact-hero-text {
    margin-top: 15px;
    margin-bottom: 25px;
}

#contact-hero-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
}

#contact-hero-address {
    margin-bottom: 30px;
}

#contact-hero-address h3 {
    margin-bottom: 25px;
}

.contact-hero-form form {
    display: flex;
    flex-direction: column;
}

.contact-hero-form input,
textarea {
    /* formating the form */
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
}

.contact-hero-form textarea {
    height: 250px;
}

.contact-hero-form input[type="submit"] {
    padding: 12px;
    background: #9a2018;
    color: #fff;
    border: none;
    width: 200px;
    align-self: flex-end;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: none;
}


/* Animation(s) on Send buttons */

/* Glow animation */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #333;
    }

    50% {
        box-shadow: 0 0 20px #9a2018;
    }

    100% {
        box-shadow: 0 0 5px #333;
    }
}

/* Pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Apply animations to the send buttons */

.contact-hero-form input[type="submit"] {
    transition: box-shadow 0.3s ease-in-out;
}

.contact-hero-form input[type="submit"]:hover {
    animation: glow 1s ease-in-out infinite, pulse 1s infinite ease-in-out;
}


/* @keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.contact-hero-form input[type="submit"]:hover {
    animation: bounce 1s infinite;
} */


select {
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    color: inherit;
    font: inherit;
    appearance: none;
    background-image: url(../images/dropdown_arrow.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 16px;
}

.select-wrapper select {
    width: 100%;
    appearance: none;
    padding-right: 40px;
}


/* Checkbox */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#checkbox {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

#checkbox input[type="checkbox"]:checked+span {
    color: inherit;
    position: relative;
}

#checkbox input[type="checkbox"]:checked+span::after {
    text-decoration: none;
    content: "🤩";
    margin-left: 10px;
    position: absolute;
    left: 100%;
}


/* 8. ---Footer--- */

#footer-hero {
    background-image: url(../images/footer_desktop.jpg);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
}

#footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
}

#footer-privacy .line-seperator {
    margin-top: 0px;
}

#footer-contact-info h3 {
    font-size: 23px;
}

#footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
}